<Files "get_tweets.py">
	Order Allow,Deny
	Deny from all
</Files>
<Files "tweets.sqlite">
	Order Allow,Deny
	Deny from all
</Files>
<Files "TL.py">
        Order Allow,Deny
        Deny from all
</Files>
